# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Facultate\Anul 2\Semestrul II\TP\PT2021_30228_Pop_Crina_Assignment_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
